*{
    padding: 0;
  margin: 0;
}
body{
    background-color: rgb(158, 12, 12);
}
header{background-color: #f3e95ac7;
height: 80px;
width: 100%;    
position: fixed;
}
h1{
    color: #3a5c35;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    background-image: url(image/2233.svg);
    background-size: cover;
    background-position: center;
    width: 150px;
    text-indent: -99999999px;
}
   
header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: brown;
    text-decoration: none;
}

header a:hover{
color: rgb(168, 75, 255);
text-decoration: underline;
}

.New {
background-color: darkgrey;
color: rgb(72, 48, 158);
height: 95vh;
background-image: url(image/5.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.New h2{
    font-size: 80px;
    margin-top: 90px;
}

.New p{
color: #4db1f3;
font-size: 18px;
margin: 25px 0;
}

.New a{
    color: #b861ff;
    text-decoration: none;
    border: 1px solid #c71111;
    padding: 10px 8px;
    border-radius: 5px;
}

.slogan{
    background-color: rgb(63, 92, 83);
    color: rgb(143, 29, 14);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}

footer{
    background-color: rgb(10, 59, 43);
    color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.8em;
}

.entername{
display: flex;
}

.entername{
    width: 80%;
}

.info{
    width: 50%;
    background-color: #5b4170;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2{
    font-size: 40px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;
}
.special {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 180px 80px;
    background-color: #5b4170;
}

.special div{
    width: 300px;
    text-align: center;
    
}

.special img{
    width: 100%;
    border-radius: 10px;
}

.special h2{
    font-size: 20px;
    margin: 20px 0;
}

.special p{
    font-size: 14px;
    line-height: 1.6em;
}